.messageViewer{
    margin-top: 12rem;
}
table{
    border-radius: 1rem;
}

thead th:first-child {
    /* border-radius: 100px 0 0 100px; */
    border-top-left-radius: 2rem;
  }
  thead th:last-child {
    border-top-right-radius: 2rem;
    /* border-radius: 0 100px 100px 0; */
  }
/* tr{
    width:auto;
} */
/* .inputId{
    width:2rem;
}
.input2{
    width:7rem;
} */
td > input[type='text']
{
    width: 100%; /*this will set the width of the textbox equal to its container td*/
}
.addrecipe textarea{
    height: 10rem;
    width: 10rem;
}